.menu {
    text-align: center;
    background-color: brown;
    padding: 10px 0;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu ul li a:hover {
    background-color: #8B4513;
}
